<h3>Sign Up</h3>
<form action="/signup" method="POST">
  <p><input type="text" name="name" placeholder="Your First Name:">
  <p><input type="text" name="email" placeholder="Email:">
  <p><input type="password" name="password" placeholder="Password:">
  <input type="submit" value="Sign Up">
</form>
