<h1>Create a New Chore!</h1>
<p>Let's add some new chores.
<form action="/chores" method="POST">
  <p><input type="text" name="name" placeholder="Chore:">
  <p><input type="text" name="frequency" placeholder="Frequency:">
  <p><input type="submit" name="submit" value="submit">
</form>
