<!DOCTYPE html>
<html>
<head>
<style>
/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    padding: 10px;
    border-radius: 25px;
    margin-left: 25%;
    margin-right: auto;
    background-color: #EFEFEF;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}


</style>
</head>
<body>
<center><div class="row">
  <a href="/"><img src="../images/sct_logo1.png" class="img-responsive main-image"></a>
</div>
<br>
</center>
<center>
<div class="row">
  <div class="column">
    <h3>Welcome!</h3>
    <p>Ready to have a tidy house?
    <p>Simple Chore Tracker will keep you on track.
    <p>First time here?  <a href="/signup">Sign up!</a>
    <p>Already Signed up?  <a href="/login">Login!</a>  </div>
</div>
</center>
